In [80]:
import pandas as pd
import numpy as np

In [81]:
df = pd.read_csv('academic_results.csv')
df.head()

                            course_name  score  credits catergory  phase
0          Entrepreneurial Management 1     11        3  BUSINESS      1
1  Introduction to Financial Management     16        3  BUSINESS      1
2                 Business Fundamentals     13        3  BUSINESS      1
3                Marketing Fundamentals     20        3  BUSINESS      1
4                    Data Visualisation     13        3      DATA      1

In [82]:
print(df.columns)

Index(['course_name', 'score', 'credits', 'catergory', 'phase'], dtype='str')

In [83]:
phase_1 = df[ df['phase'] == 1]

print(phase_1.head())

                            course_name  score  credits catergory  phase
0          Entrepreneurial Management 1     11        3  BUSINESS      1
1  Introduction to Financial Management     16        3  BUSINESS      1
2                 Business Fundamentals     13        3  BUSINESS      1
3                Marketing Fundamentals     20        3  BUSINESS      1
4                    Data Visualisation     13        3      DATA      1

In [84]:
score_distribution_phase1= phase_1['score'].value_counts().sort_index()
print("=== Score Distribution (Phase 1) ===")
print(score_distribution_phase1)

score_catergory_phase1 =phase_1.groupby('catergory')['score'].mean().sort_values(ascending=False)
print("\n=== Average Score by Category (Phase 1) ===")
print(score_catergory_phase1)

=== Score Distribution (Phase 1) ===
score
8     1
10    3
11    1
12    2
13    2
14    2
15    1
16    1
20    1
Name: count, dtype: int64

=== Average Score by Category (Phase 1) ===
catergory
BUSINESS               15.000000
COMMUNICATION          14.000000
PROGRAMMING            12.333333
HANDS-ON EXPERIENCE    12.000000
DATA                   11.000000
SECURITY               11.000000
Name: score, dtype: float64

In [85]:
phase_2 = df[df['phase'] == 2]
print(phase_2)

                      course_name  score  credits      catergory  phase
14              Management Skills     14        3       BUSINESS      2
15     Procurement & Supply Chain     11        3       BUSINESS      2
16             Business & Culture     12        3       BUSINESS      2
17            Marketing Analytics     17        3           DATA      2
18      Data Science Fundamentals     20        6           DATA      2
19               Data Engineering     10        6           DATA      2
20         Business Communication     17        3  COMMUNICATION      2
21  Business Communication Topics     10        3  COMMUNICATION      2
22          Cyber Risk Management     14        3       SECURITY      2
23   Identity & Access Management      8        3       SECURITY      2
24             Security by Design     16        6       SECURITY      2
25                Web Programming     16        3    PROGRAMMING      2
26           Financial Management     10        6       BUSINESS      2

In [86]:
score_distribution_phase2 = phase_2['score'].value_counts().sort_index()
print("=== Score Distribution (Phase 2) ===")
print(score_distribution_phase2)

score_catergory_phase2 = phase_2.groupby('catergory')['score'].mean().sort_values(ascending=False)
print("\n=== Average Score by Category (Phase 2) ===")
print(score_catergory_phase2)

=== Score Distribution (Phase 2) ===
score
8     1
10    3
11    1
12    1
14    2
16    2
17    2
20    1
Name: count, dtype: int64

=== Average Score by Category (Phase 2) ===
catergory
PROGRAMMING      16.000000
DATA             15.666667
COMMUNICATION    13.500000
SECURITY         12.666667
BUSINESS         11.750000
Name: score, dtype: float64

In [87]:
phase_comparison = pd.concat([score_catergory_phase1,score_catergory_phase2], axis=1)

phase_comparison.columns = ['Phase 1 Avg', 'Phase 2 Avg']

phase_comparison['Delta'] = (phase_comparison['Phase 2 Avg'] - phase_comparison['Phase 1 Avg'])

phase_comparison = phase_comparison.fillna('—')

print(phase_comparison)

                     Phase 1 Avg Phase 2 Avg     Delta
catergory
BUSINESS               15.000000       11.75     -3.25
COMMUNICATION          14.000000        13.5      -0.5
PROGRAMMING            12.333333        16.0  3.666667
HANDS-ON EXPERIENCE    12.000000           —         —
DATA                   11.000000   15.666667  4.666667
SECURITY               11.000000   12.666667  1.666667

In [88]:
phase_3 = df[df['phase']== 3]

print(phase_3)

                        course_name  score  credits    catergory  phase
27  Philosophy of Technology and AI     12        3     SECURITY      3
28     Enterprise Resource Planning     14        3     BUSINESS      3
29               Project Management     17        3     BUSINESS      3
30  Corporate Social Responsibility     15        3     BUSINESS      3
31       Business Intelligence Lab      14        3         DATA      3
32   Machine Learning & Forecasting     12        6         DATA      3
33               Hacking AI Systems     16        3     SECURITY      3
34          Artificial Intelligence     19        3  PROGRAMMING      3
35                           DevOps     17        3  PROGRAMMING      3

In [89]:
score_distribution_phase3 = phase_3['score'].value_counts().sort_index()
print("\nScore Distribution (Phase 3)")
print("-" * 30)
print(score_distribution_phase3)

print("\nAverage Score by Category (Phase 3)")
print("-" * 35)
score_catergory_phase3= phase_3.groupby('catergory')['score'].mean().sort_values(ascending=False)
print(score_catergory_phase3)

Score Distribution (Phase 3)
------------------------------
score
12    2
14    2
15    1
16    1
17    2
19    1
Name: count, dtype: int64

Average Score by Category (Phase 3)
-----------------------------------
catergory
PROGRAMMING    18.000000
BUSINESS       15.333333
SECURITY       14.000000
DATA           13.000000
Name: score, dtype: float64

In [90]:
phase_comparison = pd.concat([score_catergory_phase1,score_catergory_phase2, score_catergory_phase3], axis=1)

phase_comparison.columns = ['Phase 1 Avg', 'Phase 2 Avg', 'Phase 3 Avg']

phase_comparison['Trend'] = (phase_comparison['Phase 3 Avg'] - phase_comparison['Phase 1 Avg'])

phase_comparison = phase_comparison.fillna('—')

print(phase_comparison)

                     Phase 1 Avg Phase 2 Avg Phase 3 Avg     Trend
catergory
BUSINESS               15.000000       11.75   15.333333  0.333333
COMMUNICATION          14.000000        13.5           —         —
PROGRAMMING            12.333333        16.0        18.0  5.666667
HANDS-ON EXPERIENCE    12.000000           —           —         —
DATA                   11.000000   15.666667        13.0       2.0
SECURITY               11.000000   12.666667        14.0       3.0

In [91]:
# Data Overview
print("=" * 60)
print("ACADEMIC RESULTS SUMMARY")
print("=" * 60)
print(f"\nTotal Courses: {len(df)}")
print(f"Total Credits: {df['credits'].sum()}")

# Performance Statistics by Category
print("\n" + "=" * 60)
print("PERFORMANCE STATISTICS BY CATEGORY")
print("=" * 60)

category_stats = df.groupby('catergory')['score'].agg(['count', 'mean', 'min', 'max']).round(2)
category_stats.columns = ['Courses', 'Avg Score', 'Min', 'Max']
print(category_stats.sort_values('Avg Score', ascending=False))


# Score Distribution Analysis
print("\n" + "=" * 60)
print("SCORE DISTRIBUTION ANALYSIS")
print("=" * 60)

# Score ranges
ranges = [(0, 9, "Below 10"), (10, 13, "10-13"), (14, 17, "14-17"), (18, 20, "18-20")]
for low, high, label in ranges:
    count = len(df[(df['score'] >= low) & (df['score'] <= high)])
    pct = (count / len(df)) * 100
    print(f"  {label}: {count} courses ({pct:.1f}%)")

============================================================
ACADEMIC RESULTS SUMMARY
============================================================

Total Courses: 36
Total Credits: 139

============================================================
PERFORMANCE STATISTICS BY CATEGORY
============================================================
                     Courses  Avg Score  Min  Max
catergory
PROGRAMMING                6      14.83    8   19
BUSINESS                  11      13.91   10   20
COMMUNICATION              3      13.67   10   17
DATA                       8      13.25   10   20
SECURITY                   7      12.57    8   16
HANDS-ON EXPERIENCE        1      12.00   12   12

============================================================
SCORE DISTRIBUTION ANALYSIS
============================================================
  Below 10: 2 courses (5.6%)
  10-13: 15 courses (41.7%)
  14-17: 16 courses (44.4%)
  18-20: 3 courses (8.3%)